<!--views/users sub-directory contains one file, the template for the user's homepage. -->
<!--This page is rendered by the get '/users/home' route in the controller-->


"Welcome, <%=@user.name%>!"
<!--@user - the only variables that a view(this file) can access are instance variables set
in the controller route that renders that particular view page-->

<a href="/sessions/logout">Log Out</a>
