<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'>
  <label>Enter your name: </label>
  <input type="text" name="name"><br>
  <label>Enter your email: </label>
  <input type="text" name="email"><br>
  <label>Enter your password: </label>
  <input type="text" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
