<h1>Sign Up Below:</h1>
<form method=post action='/registrations'>
  Name: <input id="name" name="name" type="text">
  Email: <input id="email" name="email" type="text">
  Password: <input id="password" name="password" type="text">
  <input type='submit' id="Sign Up">
</form>
