
<!--Main page - first thing rendered-->
<!--This home.erb file in the top level of the views directory is the page rendered by the root route, get '/' in the app controller.-->

<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <a href="/registrations/signup">Sign Up</a>   <!--'href' (destination) value of the first link is /registrations/signup. This means that the link points to the get '/registrations/signup' route.-->
  <a href="/sessions/login">Log In</a>          <!-- 'href' value of the second link is /sessions/login. This means that the link points to the get '/sessions/login' route.-->

</body>

</html>
